@use "./variables" as vars;

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: vars.$colour--lightest-blue;
  padding-top: 7px;
  padding-bottom: 17px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  min-width: vars.$container-width;
}
